// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    margin: auto;

    }

header {
    background-color: lightgray;
    }
    
h2 {
    color:white;
    }

h3 {
    font-weight:bolder;
    text-align:center;
    }
    
h5 {
    color:white;
    font-weight:900;
    }
    
.btn {
    margin-top: 30%;
    border-radius: 15px;
    }
.button {
    width: 60%;
    margin: auto;
    }
    
button.btn.btn-danger {
    width: 74%;
    margin-top: 10%;
    border-radius:10px;
}
.card{
    margin-top:20%;
    
    }
.list-group {

border :1px solid red;
border-radius: 5px;
margin-top: 10%;
margin-left: 10%;
margin-right: 10%;
}

.commande {
margin-left: 15%;
margin-right: 10%;
}

.tenues {
    margin-left: 10%;
    margin-right: 10%;
}

input#email{
    margin-bottom:5%;
    border-radius:10px;
}

input#password{
    border-radius:10px;
}

a.btn.btn-link{
    margin:auto;
}

div.evenement{
    margin-top:5%;
}


#motif.card{
    background-color: lightgray;
}

textarea{
    background-color: lightgray;
    width:100%;
}

button.btn.btn-outline-danger{
    margin-top:5%;
}

button.btn.btn-outline-danger a{
    color: red;
}
