@import 'variables';

/** VENDORS **/
@import '~bootstrap/scss/bootstrap';

/** CUSTOM'S **/

header {
    background-color: $gray-400 !important;
}

.centered-on-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.btn-navigation {
    &:hover {
        background-color: $primary;
        color: $white;
    }
}

a.disabled {
    pointer-events: none !important;
    cursor: default !important;
}